<form id="entrepreneur_quiz__form" class="entrepreneur_quiz__form" onsubmit="return false;">
    <fieldset id="entrepreneur_quiz__slide--q1" class="entrepreneur_quiz__slide entrepreneur_quiz__slide1">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q1_976.jpg" />
        </div>
        <h3><%= Q1 %></h3>
        <label for="entrepreneur_quiz__option--q1a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q1" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q1a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q1A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q1b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q1" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q1b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q1B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q1c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q1" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q1c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q1C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q1d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q1" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q1d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q1D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q1" class="entrepreneur_quiz__infoboxes"><%= Q1F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 1 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q2" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q2" class="entrepreneur_quiz__slide entrepreneur_quiz__slide2">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q2_976.jpg" />
        </div>
        <h3><%= Q2 %></h3>
        <label for="entrepreneur_quiz__option--q2a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q2" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q2a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q2A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q2b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q2" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q2b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q2B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q2c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q2" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q2c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q2C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q2d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q2" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q2d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q2D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q2" class="entrepreneur_quiz__infoboxes"><%= Q2F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 2 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q3" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q3" class="entrepreneur_quiz__slide entrepreneur_quiz__slide3">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q3_976.jpg" />
        </div>
        <h3><%= Q3 %></h3>
        <label for="entrepreneur_quiz__option--q3a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q3" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q3a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q3A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q3b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q3" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q3b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q3B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q3c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q3" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q3c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q3C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q3d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q3" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q3d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q3D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q3" class="entrepreneur_quiz__infoboxes"><%= Q3F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 3 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q4" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q4" class="entrepreneur_quiz__slide entrepreneur_quiz__slide4">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q4_976.jpg" />
        </div>
        <h3><%= Q4 %></h3>
        <label for="entrepreneur_quiz__option--q4a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q4" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q4a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q4A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q4b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q4" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q4b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q4B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q4c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q4" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q4c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q4C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q4d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q4" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q4d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q4D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q4" class="entrepreneur_quiz__infoboxes"><%= Q4F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 4 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q5" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q5" class="entrepreneur_quiz__slide entrepreneur_quiz__slide5">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q5_976.jpg" />
        </div>
        <h3><%= Q5 %></h3>
        <label for="entrepreneur_quiz__option--q5a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q5" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q5a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q5A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q5b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q5" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q5b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q5B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q5c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q5" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q5c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q5C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q5d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q5" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q5d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q5D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q5" class="entrepreneur_quiz__infoboxes"><%= Q5F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 5 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q6" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q6" class="entrepreneur_quiz__slide entrepreneur_quiz__slide6">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q6_976.jpg" />
        </div>
        <h3><%= Q6 %></h3>
        <label for="entrepreneur_quiz__option--q6a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q6" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q6a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q6A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q6b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q6" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q6b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q6B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q6c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q6" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q6c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q6C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q6d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q6" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q6d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q6D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q6" class="entrepreneur_quiz__infoboxes"><%= Q6F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 6 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q7" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q7" class="entrepreneur_quiz__slide entrepreneur_quiz__slide7">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q7_976.jpg" />
        </div>
        <h3><%= Q7 %></h3>
        <label for="entrepreneur_quiz__option--q7a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q7" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q7a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q7A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q7b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q7" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q7b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q7B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q7c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q7" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q7c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q7C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q7d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q7" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q7d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q7D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q7" class="entrepreneur_quiz__infoboxes"><%= Q7F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 7 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q8" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q8" class="entrepreneur_quiz__slide entrepreneur_quiz__slide8">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q8_976.jpg" />
        </div>
        <h3><%= Q8 %></h3>
        <label for="entrepreneur_quiz__option--q8a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q8" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q8a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q8A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q8b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q8" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q8b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q8B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q8c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q8" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q8c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q8C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q8d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q8" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q8d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q8D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q8" class="entrepreneur_quiz__infoboxes"><%= Q8F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 8 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--q9" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
    <fieldset id="entrepreneur_quiz__slide--q9" class="entrepreneur_quiz__slide entrepreneur_quiz__slide9">
        <div class="entrepreneur_quiz__question--img">
            <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/question/q9_976.jpg" />
        </div>
        <h3><%= Q9 %></h3>
        <label for="entrepreneur_quiz__option--q9a" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q9" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q9a" type="radio" value="a"><span class="entrepreneur_quiz__answers"><%= Q9A %></span>
        </label>
        <label for="entrepreneur_quiz__option--q9b" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q9" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q9b" type="radio" value="b"><span class="entrepreneur_quiz__answers"><%= Q9B %></span>
        </label>
        <label for="entrepreneur_quiz__option--q9c" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q9" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q9c" type="radio" value="c"><span class="entrepreneur_quiz__answers"><%= Q9C %></span>
        </label>
        <label for="entrepreneur_quiz__option--q9d" class="entrepreneur_quiz__options">
            <input name="entrepreneur_quiz__option--q9" class="entrepreneur_quiz__option" id="entrepreneur_quiz__option--q9d" type="radio" value="d"><span class="entrepreneur_quiz__answers"><%= Q9D %></span>
        </label>
        <p id="entrepreneur_quiz__infobox--q9" class="entrepreneur_quiz__infoboxes"><%= Q9F %></p>
        <div class="entrepreneur_quiz__position--wrapper">
            <div class="entrepreneur_quiz__question--number"><%= QUESTION %> 9 <%= OUT_OF %> 9</div>
            <div id="entrepreneur_quiz__goto--result" class="entrepreneur_quiz__btn--next" ><%= NEXT %></div>
        </div>
    </fieldset>
</form>